.container-menu-editar{
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 90%;
    height: 430px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    background-color:rgba(0, 0, 0, .96);
}

.active-menu-none{
    display: none;
}

.icon-sair{
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 18pt;
    padding: 5px 8px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    color: #fff;
}

.form-menu-editar{
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo-editar{
    text-align: center;
    font-size: 18pt;
    color: #fff;
}

.content-editar{
    justify-self: center;
    width: 200px;
    height: 100%;
}


label{
    display: block;
    margin-bottom: 5px;
    font-size: 12.5pt;
    color: #fff;
}

.item-nome{
    width: 190px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11pt;
    border-radius: 3px;
    border: none;
}

.items-editar{
    width: 100%;
    height: 30px;
}
.content-descricao{
    grid-column: 1/3;
    justify-self: center;
    resize: vertical;
}


.btn-salvar{
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: 13pt;
    letter-spacing: 1px;
    background-color: indigo;
    border-radius: 50px;
    border: none;
    color: #fff;
    justify-self: center;
}

@media screen and (min-width: 700px){
    .container-menu-editar{
        height: 500px;
    }
    .icon-sair{
        top: 10px;
        left: 13px;
    }
    .form-menu-editar{
        grid-template-columns: repeat(2, 50%);
    }
    .titulo-editar{
        grid-column: 1/3;
    }
    .content-nome{
        width: 300px;
        grid-column: 1/3;
    }
    .btn-salvar{
        grid-column: 1/3;
    }
}