@media screen and (min-width: 400px){
    .main-btns-interacoes .btns-interacoes{
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 500px){
    .main-btns-interacoes .btns-interacoes{
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

@media screen and (min-width: 600px){
    .main-btns-interacoes .btns-interacoes{
        padding-top: 11px;
        padding-bottom: 11px;
    }
}

@media screen and (min-width: 935px){

    /*Inicio da seção de imagem de capa e perfil */
    .container-main{
        position: relative;
        top: 0;
            
    }
    .main-capa-peril .container-capa{
        position: relative;
        width: 100%;
        height: 220px;
    }

    .main-capa-peril .container-capa img{
        width: 100%;
        height: 220px;
        object-fit: cover;
        object-position: center;
    }

    .main-capa-peril .container-perfil{
        position: absolute;
        top: 10px;
        left: 10px;
        width: 15%;
    }

    .main-capa-peril .container-perfil img{
        max-width: 100%;
        border-radius: 50%;
    }
    /*Fim da seção de imagem de capa e perfil*/

    /*Inicio da seção de descrições, contendo caracteristicas e nome do user */

    .container-main .main-descricao{
        padding-top: 1rem;
    }

    .main-descricao .content-nome-btn{
        display: flex;
        justify-content: space-between;
        padding: .5rem 1rem;
    }

    .content-nome-btn .name-do-user{
        color: #fff;
    }

    .container-btn .btn-editar{
        width: 100px;
        height: 30px;
        font-size: 12pt;
        letter-spacing: .5px;
        background-color: indigo;
        border: 1px solid indigo;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
    }

    .container-btn .btn-editar:hover{
        background-color: rgb(94, 3, 160);
    }

    .main-descricao .container-descricao{
        padding: .5rem 1rem;
        margin-bottom: 10px;
    }

    .main-descricao .container-descricao p{
        font-size: 11pt;
        margin-bottom: 9px;
    }
    /*Fim da seção de descrições, contendo caracteristicas e nome do user*/


    /*Inicio da stylização do btns de interações */

    .main-btns-interacoes .btns-interacoes{
        width: 187px;
        font-size: 11pt;
    }

    .main-btns-interacoes .btns-interacoes:hover{
        border-bottom: 2px solid indigo;
    }

    /*Fim da stylização do btns de interações*/

    /*Inicio da stylização da seção de atividades */

    .titulo-recentes{
        position: relative;
        width: 90%;
        margin: auto;
        margin-bottom: 1rem;
    }

    .titulo-recentes .ttl-rec{
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11pt;
    }

} 