* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 10, 10, 1);
}

.container .form-container {
    position: relative;
    width: 384px;
    height: 500px;
    border-radius: 20px;
    background-color: rgba(20, 20, 20, 1);
    -webkit-box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.75);
}

.form-container form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container .login-container {
    display: none;
}

.container .cadastro-container {
    display: none;
}


/*Aqui é o style do login*/



.entrar-titulos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 120px;
    padding: 5px;
}

.letra span{
    font-size: 12pt;
}

.campos-log {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.campos {
    width: 85%;
    height: 39px;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.senha-esqueceu {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(196, 196, 196)
}

.btn-link {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.form-button {
    width: 180px;
    height: 35px;
    border: none;
    border-radius: 20px;
    font-size: 12pt;
    color: #fff;
    background-color: rgb(146, 20, 146);
    cursor: pointer;
}

.cell-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: #fff;
}

.cell-link a {
    text-decoration: none;
    color: rgb(0, 47, 255);
}


/*Fim style login*/


/*style do cadastro*/

.cad-titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
}

.cad-titulo h1 {
    margin-bottom: 5px;
}

.campos-cad {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*inicio do style de não sei*/

.p_retorno {
    color: red;
    font-weight: '600';
    text-align: center;
}

.vazio::-webkit-input-placeholder {
    color: red;
    font-weight: bold;
}

.respostaLogin {
    color: white;
}

#resposta {
    text-align: center;
    color: red;
}

#respostaOk {
    text-align: center;
    color: green;
}

.texto{
    background: rgba(255, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

/*fim do style que não sei*/

/*Inicio erros*/

.p_retorno {
    color: red;
    font-family: 'Roboto';
    font-weight: '600';
    text-align: center;
}

.vazio::-webkit-input-placeholder {
    color: red;
    font-weight: bold;
}

#respostaLogin {
    background: rgba(300, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-weight: bold;
    color: white
}

#resposta {
    text-align: center;
    color: red;
    font-family: 'Roboto';
    font-weight: bold;
}

#respostaOk {
    text-align: center;
    color: green;
    font-family: 'Roboto';
    font-weight: bold;
}

/*Fim erros*/

/*Fim do cadastro*/


/*Mobeli*/

@media screen and (max-width: 400px) {
    .container .form-container {
        width: 95%;
    }
    .campos {
        width: 90%;
    }
}


/*Fim mobeli*/