.interface .container-main{
    padding-bottom: 20px;

}
/*Inicio form do pesquisa */

.container-main .main-form{
    position: relative;
    margin-top: 1px;
    width: 100%;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../../Imagens/top.png');
    filter: grayscale(80%);
    background-size: cover;
    background-position: top;
    background-repeat: repeat-y;
    background-blend-mode: color-dodge;
    background-color: rgba(0,0,0,0.6);
}

.main-form .content-form{
    position: relative;
}

.content-form .txt-pes{
    font-size: 11pt;
    height: 34px;
    padding-left: 7px;
    padding-right: 40px;
    border: none;
    border-radius: 3px;
    outline: none;
}

.content-form .btn-pes{
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    width: 35px;
    background-color: #ffffff;
    color: grey;
    border: none;
    border-left-width: 1px;
    border-left-color: rgb(143, 143, 143);
    border-left-style: solid;
    font-size: 18px;
    cursor: pointer;
}

/*Fim form de pesquisa*/


/*slider carousel*/

.container-main .main-slider{
    position: relative;
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}

/*slider carousel*/

/*começo style do slider do netflix*/
.container-main .main-animes{
    width: 100%;
    margin-top: 2rem;
}

.main-animes .container-slide-swiper{
    margin-bottom: 50px;
}

.main-animes .container-slide-swiper .titulo-swiper{
    color: #fff;
    font-size: 1rem;
    margin-left: 1rem;
}

.swiper-container {
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
}

.swiper-wrapper{
    margin-left: .5rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img{
    width: 100%;
    height: 246.133px;
}

.btns-N-P{
    display: none;
}

:root{
    --swiper-theme-color: #fff;
}

/*fim style slider netflix*/

/*começo da stylização do footer*/

.interface .container-footer{
    position: relative;
    top: 70px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background: url("../../Imagens/yuno.jpg");
    background-position: top;
}

.container-footer .footer-des{
    color: rgb(143, 143, 143);
    font-size: 10pt;
    padding-left: 5px;
    padding-right: 5px;
}

.container-footer .footer-email{
    color: rgb(143, 143, 143);
    font-size: 10pt;
}

.container-footer .footer-email a{
    color: rgb(143, 143, 143);
    font-size: 10pt;
    text-decoration: none;
}

.container-footer .footer-copy{
    color: rgb(85, 85, 85);
    font-size: 9pt;
}

/*Fim da stylização do footer*/
