.container-main .main-animes{
    width: 100%;
    margin-top: 1rem;
}

.main-animes .anime-container{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
}

.anime-container .animes-titulo{
    margin-left: 1rem;
}

.anime-container .animes-titulo .titulo{
    color: #fff;
    font-size: 1rem;
}

.anime-container .sec-anime-net{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    transition: 250ms transform;
}

.sec-anime-net .item{
    width: 100%;
    height: 70px;
    overflow: hidden;
    transition: 250ms all;
    cursor: pointer;
    border: 1px solid red;    
}

.sec-anime-net .item img{
    width: 100%;
    height: 70px;
    object-fit: cover;
}

.sec-anime-net:hover .item{
    opacity: 0.6;
}

.sec-anime-net:hover .item:hover{
    opacity: 1;
} 

.sec-anime-net a{
    position: absolute;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    width: 80px;
    text-align: center;
    z-index: 1;
}

.sec-anime-net a:nth-of-type(1){
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1)100%);
}

.sec-anime-net a:nth-of-type(2){
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1)100%);
}
.link{
    text-decoration: none !important;    
}