/*Inicio da stylização da seção de atividades*/

.container-avd-recentes{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.titulo-recentes{
    margin-top: 20px;
    margin-left: 15px;
}

.titulo-recentes .ttl-rec{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: center;
}

.container-avd-recentes .container-coment{
    position: relative;
    width: 300px;
    height: 250px;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.container-coment .container-img-rec-anime{
    margin-right: 5px;
    width: 100%;
    height: 100%;
}

.container-coment .container-img-rec-anime img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.content-coment-name{
    width: 100%;
}

.title-news{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFF;
}

.horario{
    color: rgb(82, 80, 80);
}

@media screen and (min-width: 935px){
    .container-avd-recentes .container-coment{
        width: 270px;
    }
}



