.container-header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 3;

    -webkit-box-shadow: 0px 5px 8px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 8px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 8px 3px rgba(0,0,0,0.75);
    background-color: rgb(20, 20, 20);
}

.container-header .content-center{
    width: 935px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content-center .container-logo{
    width: 100px;
}

.content-center .container-logo img{
    max-width: 100%;
    object-fit: contain; 
}

.content-center .content-user{
    display: none;
}

.content-center .nav-list{
    width: 780px;
    height: 100%;
}

.nav-list .list{
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-list .list .list-items{
    padding-right: 8px;
    list-style: none;
}

.nav-list .list .list-items .link-items{
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px 7px;
    color: #fff;
    transition: all 0.5s;
}

.nav-list .list .list-items .link-items:hover{
    background-color: #fff;
    color: rgb(20, 20, 20);
}

.content-center .container-img-user{
    width: 45px;
    height: 45px;
}

.content-center .container-img-user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
    max-height: 100%;
}

.sair-mobile{
    display: none;
}

.icon-none{
    display: none !important;
    
}
.img-none{
    display: block;
}
/*MEDIA*/

@media screen and (max-width: 935px){
    .icon-none{
        display: block !important;
        color: white;
        font-size: 30pt;
        cursor: pointer;
    }
    .img-none{
        display: none;
    }
    .container-header .content-center{
        width: 100%;
        padding: 0 1rem;
        justify-content: space-between;
    }

    .content-center .menu-mobile{
        position: absolute;
        top: 70px;
        left: -100%;
        width: 224px;
        height: 100vh;
        transition: all 1s ease;
        background-color: rgb(20, 20, 20);
    }

    .content-center .menu-mobile-abriu{
        left: 0px;
    }

    .content-center .content-user{
        padding: 20px 0 20px 10px;
        border-bottom: 1px solid rgb(59, 59, 59);
        display: flex;
        align-items: center;
    }

    .content-user .mobile-user{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
    }

    .content-user .mobile-user img{
        max-width: 100%;
        object-fit: contain;
        cursor: pointer;
    }

    .content-user .user-raca-classe{
        margin-left: 10px;
    }

    .content-user .user-raca-classe h2{
        font-size: 12pt;
        color: #fff;
    }

    .content-user .user-raca-classe span{
        font-size: 11pt;
        color: #fff;
    }

    .content-center .nav-list{
        width: 224px;
        height: 100%;
    }

    .nav-list .list{
        height: 100%;
        display: block;
    }

    .nav-list .list .list-items{
        padding-right: 0;
    }

    .nav-list .list .list-items .link-items{
        display: block;
        line-height: 50px;
    }

    .nav-list .list .list-items .link-items:hover{
        background-color: transparent;
        color: #fff;
    }

    .sair-mobile{
        display: block;
    }

}

/*MEDIA*/